# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# dotenv files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# OS-related
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Coverage from tests
coverage/

# Parcel, Next.js, etc.
.cache/
.next/

# Misc
*.bak
